<ng-container>
  <c-container [fluid]="true" class="border-bottom px-2 d-flex align-items-center justify-content-between"
    style="height:44px; line-height:44px;">

    <button [cSidebarToggle]="sidebarId()" cHeaderToggler class="btn btn-sm p-0 me-2" style="margin-inline-start:-8px;"
      aria-label="Toggle sidebar navigation">
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>

    <c-header-nav class="d-flex align-items-center gap-2">
      <ng-container *ngTemplateOutlet="themeDropdown"></ng-container>
      <div class="vr mx-2 text-body text-opacity-75"></div>
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>
  </c-container>

  <c-container [fluid]="true" class="px-2 d-flex align-items-center" style="height:32px; line-height:32px;">
    <c-breadcrumb-router />
  </c-container>
</ng-container>

<ng-template #themeDropdown>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="p-0" aria-label="Open theme menu">
      <c-icon [name]="icons()" size="lg"></c-icon>
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li *ngFor="let mode of colorModes">
        <a cDropdownItem (click)="colorModeService.colorMode.set(mode.name)">
          <c-icon class="me-2" [name]="mode.icon"></c-icon>
          {{ mode.text }}
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>

<ng-template #userDropdown>
  <c-dropdown [popperOptions]="{ placement: 'bottom-start' }" variant="nav-item">
    <button [caret]="false" cDropdownToggle class="py-0 pe-0" aria-label="Open user menu">
      <c-avatar shape="rounded-1" [size]="'md'" src="./assets/images/avatars/8.jpg" status="success" textColor="primary"
        alt="User avatar" />
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-body-secondary text-body-secondary fw-semibold py-2 rounded-top">
          Account
        </h6>
      </li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-2" name="cilBell"></svg>
          Updates
          <c-badge class="ms-2 float-end" color="info"> 42</c-badge>
        </a>
      </li>
      <li>
        <h6 cDropdownHeader class="bg-body-secondary text-body-secondary fw-semibold py-2">
          Settings
        </h6>
      </li>
      <li>
        <a cDropdownItem routerLink="/user">
          <svg cIcon class="me-2" name="cilUser"></svg>
          Profile
        </a>
      </li>
      <li>
        <a cDropdownItem routerLink="">
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Settings
        </a>
      </li>
      <li>
        <hr cDropdownDivider />
      </li>
      <li>
        <a cDropdownItem routerLink="" (click)="logout()">
          <svg cIcon class="me-2" name="cilAccountLogout"></svg>
          Logout
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>